<main>
<div class="container">
    <h2>Edit Project</h2><br><br>

    <div class="container">
        <form method="POST" action="/projects/{{ project.id }}?_method=PUT">

            <div class="form-row">
                <div class="form-group col-md-6">
                    {{!-- Project Name --}}
                    <label for="">Project Name</label>
                    <input class="form-control" type="text" name="name" value="{{ project.name }}">
                </div>
                <div class="form-group col-md-6">
                    {{!-- Creation Date --}}
                    <label for="">Creation Date</label>
                    <input class="form-control" type="date" name="dateCreated" value="{{ project.dateCreated }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    {{!-- Project Information --}}
                    <label>Project Details</label>
                    <textarea class="form-control" name="info" id = "myTextArea" rows = "8"cols = "40">{{ project.info }}</textarea>
                </div>
                <div class="form-group col-md-6">
                    {{!-- Link Resource --}}
                    <label for="">Link Resource</label>
                    <input class="form-control" type="text" name="linkedResources" value="{{ project.linkedResources }}">
                    <br>
                    <label for="">Iteration Due Date</label>
                    <input class="form-control" type="datetime-local" name="due" value="{{ project.due }}">
                </div>
            </div>
            
            <input class="form-control" type="submit" value="Update Project">
        </form>
    </div>
</div>
</main>
{{!-- <form method="POST" action="{{ project.id }}?_method=DELETE">
  <input class="form-control " type="submit" value="Delete" />
</form> --}}