<main>
    <div class="container">
        <h1>{{ project.name }}</h1>

        <h2>Project Info</h2>
        <h3>Date launched{{ project.dateCreated }}</h3>
        <p>{{ project.info }}</p>

        <h4>Iteration Expected Due:  {{ project.due }}</h4>

        <a href="/projects/{{ project.id }}/edit">Edit Project</a>
    </div>
    
    <form method="POST" action="{{ project.id }}?_method=DELETE">
        <input class="form-control " type="submit" value="Delete" />
    </form>
</main>
